// Source of google font
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    font-family: "SUSE", system-ui !important;
}

:root {
    --theme: #56cfe1;
    --theme-2: #EF5A6F;
    --theme-3: #508D4E;
}
